@use "helpers" as *;

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-light-gray: #f7f7f7;
  --color-dark-gray: #333333;
  --color-dark-gray-alt: #4d4d4d;
  --color-light-red: #fa8072;
  --color-accent: #02a378;

  --border: #{rem(1)} solid var(--color-dark);

  --container-width: #{rem(800)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;

  --100vw: calc(100vw - var(--scrollbar-width));
}
